// colors
$COLOR-FIGMA-BLUE: #18a0fb;
$COLOR-FIGMA-RED: #FF3333;
$COLOR-WHITE: #ffffff;
$COLOR-BLACK: #000000;
$COLOR-GRAY: #E5E5E5;
$COLOR-GRAY-400: #C4C4C4;
$COLOR-LIGHT-GREY: $COLOR-GRAY;
$COLOR-TEXT-PRIMARY: #212121;

$FIGMA-UI-WIDTH: 342px;
$FIGMA-UI-HEIGHT: 444px;

// fonts
$primary_font: 'Inter', medium-content-sans-serif-font, -apple-system, sans-serif;
$secondary_font: 'Inter', medium-content-sans-serif-font, -apple-system, sans-serif;
//$icomoon-font-path: "../fonts/icomoon/fonts" !default;
