$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts/icomoon/fonts" !default;

$icon-download: "\e900";
$icon-adjust: "\e901";
$icon-link-broken: "\e902";
$icon-link-connected: "\e903";
$icon-minus: "\e904";
$icon-plus: "\e905";
